body {
	background-color: rgb(255, 255, 255);
	text-align: center;
	font-size: 2em;
	color: rgb(0, 0, 0);
}

body div.calculadora {
	text-align: center;
	width: 60em;
	margin: 0 auto;
}

div input, button {
	border-radius: 2em;
	width: 4em;
	height: 4em;
	margin: 2em 2em;
	background-color: rgb(189, 229, 245);
	font-size: 1em;
}

div input[title="resultados"] {
	height: 5em;
	width: 100%;
	background-color: rgb(233, 231, 231);
	color: rgb(0, 0, 0);
	padding: 3em 2em;
    margin-bottom: 2em;
    box-sizing: border-box;
    border-radius: 4em;
}

div input[title="pila"] {
	height: 5em;
	width: 100%;
	background-color: rgb(233, 231, 231);
	color: rgb(0, 0, 0);
	padding: 3em 2em;
    margin-top: 2em;
    box-sizing: border-box;
	border-radius: 4em;
	overflow-x: auto;
}

div.results input {
	height: 10em;
	width: 5em;
}
